<div id="message-<%= message.id %>" data-senderid="<%= message.user.id  %>">
    <p class="message-content"><%= message.content %></p>
    <div class="date-message text-muted">
      <i><%= message.created_at.strftime("le %d/%m/%Y à %Hh%m") %></i>
    </div>
</div>
