<% if @user_is_planner %>
  <div class="description-title d-flex">
    <h3 class="mt-5 mb-2">Description </h3>
    <!-- Bouton pour modifier la description -->
    <a href="#" class="edit-description"><i class="fa-solid fa-pen"></i></a>
  </div>

  <!-- Formulaire de modification (initiallement caché) -->
<form class="edit-description-form d-none" action="<%= event_path(@event) %>" method="post" data-remote="true">
  <div class="field">
    <!-- Utilisation des balises ERB pour générer le champ de texte -->
    <textarea id="event_description" name="event[description]" rows="4" class="edit-description-form display:none"><%= @event.description %></textarea>
  </div>

  <div class="update-btn d-flex justify-content-center">
    <!-- Utilisation des balises ERB pour générer le bouton de soumission -->
    <button type="submit-description" class="validate-btn">Mettre à jour la description</button>
  </div>
</form>


  <div>
    <p class="description"><%= @event.description %></p>
  </div>
<% else %>
  <!-- L'user n'est pas planner -->*
  <h3 class="mt-5 mb-2 description">Description </h3>
   <p><%= @event.description %></p>
<% end %>
