<div class="add-photos" data-controller="add-photos">
  <form action="<%= event_path(@event) %>" method="post" enctype="multipart/form-data">
    <input type="hidden" name="_method" value="patch">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <label class="custom-file-upload">
      <input type="file" name="event[new_photos][]" multiple
        data-add-photos-target="add"
        data-action="change->add-photos#photos">
      Sélectionner des photos
    </label>

    <button type="submit" class="mt-5 validate-photos-btn d-none" data-add-photos-target="submit">
      <span class="icon">
    <i class="fa-solid fa-paper-plane"></i>
      </span>
    </button>
  </form>
</div>

<div class="display-photos">
  <% @event.photos.each do |photo| %>

    <div class="card-photos" data-controller="expanded-photos">
      <%= cl_image_tag photo.key,
        class: "img-fluid photo-thumbnail photo-gallery",
        data: { target: "gallery", action: "click->expanded-photos#expanded" },
        crop: :fill %>

      <div data-expanded-photos-target="expandedPhoto" class="expanded-photo-container d-none">
        <%= cl_image_tag photo.key,
        class: "expanded-photo img-fluid",
        crop: :fill %>
      </div>

    </div>
  <% end %>

</div>
