<div class="add-photos" data-controller="add-photos">
  <form action="<%= event_path(@event) %>" method="post" enctype="multipart/form-data">
    <input type="hidden" name="_method" value="patch">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <label class="custom-file-upload">
      <input type="file" name="event[new_photos][]" multiple
        data-add-photos-target="add"
        data-action="change->add-photos#photos">
      Sélectionner des photos
    </label>

    <input type="submit" value="Ajouter" class="mt-5 validate-photos-btn d-none"
      data-add-photos-target="submit">
  </form>
</div>

<div class="display-photos">
  <% @event.photos.each do |photo| %>
      <%= cl_image_tag photo.key, class: "card-photos img-fluid", crop: :fill %>
  <% end %>

</div>
