.custom-input-for-option{
  width: 300px;
}

#todo_list_options_option{
  width: 300px;

}
#survey_answers_answer{
  width: 300px;
}
h2{
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;
}

.input-spacing {
  margin-bottom: 15px;
}

.form-control:focus {
  border-color: none;
  box-shadow: none;

}
