.guest{
  position: relative;
  border: 1px solid $main-color-light;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 10px;
  margin-bottom: 15px;
  align-items: center;
  height: 50px;
}

.guest-details {
  flex: 1; /* Pour occuper l'espace restant */
}

.yellow-crown  {
  margin-right: 0px !important;
  color: rgb(205, 196, 31);
  font-size: 26px;
}

.grey-crown{
  color: grey;
}

.fa-crown::before, ::after {
  box-sizing: border-box;
  font-size: 26px;
}

.fa-xmark-guest {
  position: absolute !important;
  left: 304px;
  font-size: 20px;
  top: 18px !important;
}

#search-results{
  // margin-top: -20px !important;
  // margin-bottom: 20px !important;
  margin-left: 0px !important;
  justify-content: center;
  margin-right: 175px;
  margin-bottom: 10px;

}

div[data-controller="user-search"] {
  background-color: white;
  /* padding: 20px; */
  border-radius: 8px;
  box-shadow: none !important;
  border: none !important;
}

.search-guest{
  margin-bottom: 20px;
  background-color: $third-color;
  color: white;
}

.avatar-guest{
  margin-right: -80px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

#user_search {
  width: 300px;
}
