.event-infos {
  font-size: 13px;
}

.event-infos h2 {
  margin: 5px;
}

.event-infos h3 {
  font-size: 14px;
}

.event-infos .survey-infos {
  font-size: 10px;
  color: gray;
}

.event-infos .survey-card {
  background-color: lighten($fourth-color, 15%);
  border-radius: 5px;
  padding: 5px;
  border-radius: 12px;
}

.survey-card p {
  margin: 0;
  padding: 4px;
}

.survey-card .chevron {
  margin: 0;
  padding: 12px;
}


.todo-card{
  background-color: lighten($fifth-color, 12%);
  border-radius: 5px;
  padding: 5px;
}

.chevron-survey{
 color: $fourth-color;
}

.chevron-todo{
  color: $fifth-color;
 }
.event-infos .todo-card {
  margin: 0;
  padding: 10px;
  background-color: $main-color-light;
  border-radius: 12px;
}

.todo-card p {
  margin: 0;
  padding: 4px;
}

.todo-card .chevron {
  margin: 0;
  padding-right: 8px;
}
