.fa-location-dot{
  color: $first-color;
}


.user-color{
  color: $second-color;
}


.fa-share-nodes{
  color: $third-color;
}


.new-survey{
  color: $fourth-color;
}

.new-todo{
  color: $fifth-color;
}


.fa-user-plus{
  color: $main-color;
}
