@import "../variables";

.status-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  color: $main-color;
  background-color: $main-color-light;
  font-size: 12px;
  padding: 4px 6px;
  border-radius: 8px;
  text-decoration: none;
  border: 0;
  width: 33%;
  text-align: center;
  &:hover{
    background-color: lighten($main-color, 10%) ;
    transition: 0.3s ease;
    color: white;
    font-weight: bold;
  }
}

.status-btn-active{
  display: flex;
  justify-content: center;
  align-items: center;

  color: white;
  font-weight: bold;
  background-color: lighten($main-color, 10%);
  font-weight: bold;
  font-size: 12px;
  padding: 4px 6px;
  border-radius: 8px;
  text-decoration: none;
  border: 0;
  width: 33%;
  text-align: center;
  &:hover{
    cursor: default;
   }
}
