// @media only screen and (max-width: 768px) {
  .validate-btn{
    color: white;
    background-color: $main-color;
    font-size: 14px;
    padding: 8px 10px 8px 10px;
    border-radius: 8px;
    text-decoration: none;
    display: inline-block;
    width: 200px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 20px;
    border: none;
    }

  .validate-btn-small{
    color: $main-color;
    background-color: $main-color-light;
    font-size: 14px;
    padding: 6px;
    text-decoration: none;
    height: 40px;
    border: none;
    border-top-right-radius: 8px; /* Arrondi du coin supérieur droit */
    border-bottom-right-radius: 8px; /* Arrondi du coin inférieur droit */

    }

// }
