<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <i class="fa-solid fa-user"></i>
    <i class="fa-solid fa-circle-plus"></i>
    <i class="fa-solid fa-house"></i>
    <i class="fa-solid fa-comment"></i>
  </a>
</nav>
