<!--<div class="tabs-btns" data-controller="button">
  <%= link_to "Evènements passés", root_path(type: "next"),
    method: :post,
    class: "passed-events-btn",
      data: {
        action: "click->button#toggle",
        button_target: "passed-button"
      } %>

  <%= link_to "Prochains évènements", root_path(type: "previous"),
    method: :post,
    class: "attended-events-btn",
    data: {
      action: "click->button#toggle",
      button_target: "attended-button"
    } %>
</div>-->

<div class="d-flex">
  <button class="active-events-btn mx-2" data-action="click->button#next" data-button-target="buttonNext">Prochains évènements</button>
  <button class="inactive-events-btn mx-2" data-action="click->button#previous"  data-button-target="buttonPrevious">Evènements passés</button>
</div>
