<!-- app/views/users/index.html.erb -->

<div class="mb-3" data-controller="user-search">
  <label for="user_search">Rechercher un utilisateur</label>
  <input type="text" id="user_search" name="user_search" class="form-control" data-target="user-search.searchInput" data-action="input->user-search#search">
  <%=  link_to "", users_path,  class:"d-none", data: {user_search_target: "link"}%>

</div>
<div id="search-results" data-target="user-search.searchInput"></div>

<%= link_to 'Ajout user', event_path(@event), class: "btn btn-secondary" %>
</div>
<%= console %>
<%= @users.first.first_name %>
