// @media only screen and (min-width: 414px) {
//   .resize {
//       max-width: 350px;
//   }
// }

html, body {
  height: 100%;
}


body{
  background-color: white;
  margin-bottom: 100px;
  margin: 0px;
}

h1, h2, h3 {
  font-weight: 900;
  margin: 0;
}

h3 {
  font-size: 1.08em;
}

.link {
  text-decoration: none;
  color: black;
}

.text-bold {
  font-weight: bold;
}


.container {
  padding-bottom: 10px;
}


.ban{
  width: 100%;
  object-fit: cover;
  position: absolute;
  margin-top: -24px;
}

.easy-party-title{
  position:relative;
  // color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.5), -1px -1px 2px rgba(0, 0, 0, 0.5);

}
