// @media only screen and (min-width: 414px) {
//   .resize {
//       max-width: 350px;
//   }
// }

html, body {
  height: 100%;
}


body{
  background-color: white;
  margin-bottom: 100px;
}

h1, h2, h3 {
  font-weight: 900;
  margin: 0;
}

h3 {
  font-size: 1.08em;
}

.link {
  text-decoration: none;
  color: black;
}

.text-bold {
  font-weight: bold;
}


.container {
  padding-bottom: 80px;
}
