// @media only screen and (min-width: 414px) {
//   .resize {
//       max-width: 350px;
//   }
// }

html, body {
  height: 100%;
}


body{
  background-color: white;
  margin-bottom: 100px;
  margin: 0px;
}

h1, h2, h3 {
  font-weight: 900;
  margin: 0;
}

h3 {
  font-size: 1.08em;
}

.link {
  text-decoration: none;
  color: black;
}

.text-bold {
  font-weight: bold;
}


.container {
  padding-bottom: 10px;
}

.ban{
  width: 100%;
  object-fit: cover;
  position: absolute;
  margin-top: -24px;
}

.easy-party-title{
  position:relative;
  letter-spacing: 0.2em;
  // color: white;
  // text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  // text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.5), -1px -1px 2px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    font-size: 2em;
    font-weight: bold;
  .first-letter { color: $first-color; }
  .second-letter { color: $second-color; }
  .third-letter { color: $third-color; }
  .fourth-letter { color: $fourth-color; }
  .fifth-letter { color: $fifth-color; }
  .sixth-letter { color: $first-color; }
  .seventh-letter { color: $second-color; }
  .eighth-letter { color: $third-color; }
  .ninth-letter { color: $fourth-color; }
  .tenth-letter { color: $fifth-color; }

}
.fa-fire{
  color: $fifth-color;
  padding-right: 10px;
}


/* Masquer l'étoile des champs requis */
form .required::after,
form .form-required::after {
  display: none;
}
