.edit-description-form{
  margin: 0 auto;
}

/* CSS pour supprimer la bordure de l'input en focus */

.edit-description-form textarea:focus {
  outline: none;
  border-color: $main-color-light;
  border-radius: 8px;
}
.edit-description-form textarea{
  outline: none;
  border-color: $main-color-light;
  border-radius: 8px;
  margin-bottom: 8px;
  width: 100%;
}

.submit-description{
  width: 90%;
}

.description-title{
  align-items: baseline
}

.fa-pen{
  margin-left: 4px;
}
