.form {
  margin: 5px;
  padding: 25px 15px;
  border: 1px solid #ccc;
  border-radius: 12px;
  background-color: white;
  box-shadow: 0 0 8px rgba(0,0,0,0.1);
}

.form label {
  font-weight: 600;
}

.input {
  border-radius: 12px;
}
