.display-photos {
  display: flex;
  flex-wrap: wrap;
  margin: -5px;

  .card-photos {
    width: calc(33.33% - 10px);
    margin: 5px;

    @media (min-width: 481px) and (max-width: 1024px) {
      width: calc(50% - 5px);
    }

    @media (min-width: 1025px) {
      width: calc(16.66% - 5px);
    }
  }
}

.select-files::-webkit-file-upload-button {
  visibility: hidden;
}


.custom-file-upload {
  color: white;
  background-color: $third-color;
  border-radius: 8px;
  padding: 8px 12px;
  cursor: pointer;
  border: none;
  width: 250px;
  padding-bottom: 10px;
}

.custom-file-upload input[type="file"] {
  display: none;
}


.add-photos{
  padding-top: 20px;
  display: flex;
  padding-bottom: 15px;
}


.validate-photos-btn{
  color: white;
  background-color: $fourth-color;
  border-radius: 8px;
  padding: 8px 12px;
  cursor: pointer;
  border: none;
  width: 250px;
  margin-bottom: 10px;
}
