.display-photos {
  display: flex;
  flex-wrap: wrap;
  margin: -5px; /* Ajoute des marges négatives pour compenser les marges des éléments enfants */

  .card-photos {
    width: calc(33.33% - 10px); /* Calcule la largeur pour 3 photos par ligne avec marges */
    margin: 5px; /* Ajoute des marges pour espacer les photos */

    @media (min-width: 481px) and (max-width: 1024px) {
      width: calc(50% - 5px); /* 3 photos par ligne pour les écrans moyens */
    }

    @media (min-width: 1025px) {
      width: calc(16.66% - 5px); /* 6 photos par ligne pour les grands écrans */
    }
  }
}


/* Masquer le texte "Aucun fichier choisi" */
.select-files::-webkit-file-upload-button {
  visibility: hidden;
}

.select-files::before {
  content: 'Sélectionner des photos';
  display: inline-block;
  background: $main-color;
  color: #fff;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
}


.select-files :hover{
  background-color: lighten($main-color, 10%);
  transition: 0.3s ease;
  color: white;
  font-weight: bold;
  }
