.display-photos {
  display: flex;
  flex-wrap: wrap;
  margin: -5px;
  object-fit: cover;
  margin-bottom: 50px;

  .card-photos {
    width: calc(33.33% - 10px);
    margin: 5px;
    object-fit: cover;

    @media (min-width: 481px) and (max-width: 1024px) {
      width: calc(50% - 5px);
    }

    @media (min-width: 1025px) {
      width: calc(16.66% - 5px);
    }
  }
}



.select-files::-webkit-file-upload-button {
  visibility: hidden;
}


.custom-file-upload {
  color: white;
  background-color: $third-color;
  border-radius: 8px;
  padding: 8px 12px;
  cursor: pointer;
  border: none;
  width: 50vw;
  padding-bottom: 10px;
  text-align: center;
}

.custom-file-upload input[type="file"] {
  display: none;
}


.add-photos{
  padding-top: 20px;
  display: flex;
  padding-bottom: 15px;
  justify-content: center;
  border-top: 1px solid #cdd0d3;
}

.validate-photos-btn{
  color: $fourth-color;
  border-radius: 8px;
  padding: 8px 12px 8px 0px;
  cursor: pointer;
  border: none;
  // width: 40vw;
  font-size: 20px;
  margin-bottom: 10px;
  background-color: white;
}



.expanded-photo-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.expanded-photo {
  max-width: 80%;
  max-height: 80%;
  object-fit: contain;
}

.photo-gallery {
  height: 100%;
  object-fit: cover;
}


.chevron-slider{
  font-size: 14px;
  color: $fifth-color;
  padding: 2px;
}

.close-slider{
  font-size: 30px;
  padding-bottom: 500px;
  padding-left: 300px;
}
