
strong {
  color: violet
}

.avatar-chatroom {
  width: 40px; // ou la taille que vous souhaitez
  height: 40px; // doit être égal à la largeur pour un cercle parfait
  border-radius: 50%; // rend l'image circulaire
  object-fit: cover; // assure que l'image couvre tout l'espace sans être déformée
  margin-bottom: 8px;

  // Ajoutez d'autres styles si nécessaire, comme les bordures, l'ombre, etc.
}
.text-center {
  text-align: center;
}

.container_messages {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.card-chatroom {
  overflow: hidden;
  background: white;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 500px; /* Taille fixe de la carte */
  // box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 10px;
  border-radius: 20px;
  transition: box-shadow 0.3s;
  // box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-chatroom:hover {
  box-shadow: 0 0px 18px rgba(0, 0, 0, 0.4);
  transition: box-shadow 0.3s;
}

.card-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
  width: 100%;
}

.card-img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 15px;
}

.card-info {
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.card-text {
  margin-top: 5px;
  font-size: 1rem;
  color: #666;
}

.message {
  background-color: grey;
}

.message-row {
  margin-bottom: 10px;
  padding: 8px;
}

// To style the message itself
.sender-style, .receiver-style {
  width: 70%;
  max-width: 400px;
  border-radius: 4px;
  padding: 8px;
  min-height: 80px;
}

.sender-style {
  background-color: lightcoral;
  margin-bottom: 16px
  // position: relative;
}

.receiver-style {
  background-color: lightblue;
  margin-bottom: 16px
}
