@import "variables";



.navbar {
  position: fixed;
  // background-color: darken($main-color-light, 20%); /* Rend la couleur 10% plus foncée */
  background-color: $main-color;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.navbar-brand > a {
  color: rgb(255, 255, 255);
}

.yield {
  min-height: calc(100vh - 100px);
}


.active-icon {
  font-size: 1.3em; /* Agrandit l'icône */
  color: #007bff; /* Change la couleur, par exemple en bleu */
  /* Ajoutez ici d'autres styles si nécessaire */
}
