@import "variables";



.navbar {
  position: fixed;
  // background-color: darken($main-color-light, 20%); /* Rend la couleur 10% plus foncée */
  background-color: $main-color;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-image: linear-gradient(to top, $main-color, lighten($main-color, 10%));
}

.navbar-brand > a {
  color: rgb(255, 255, 255);
}

.yield {
  min-height: calc(100vh - 100px);
}


.active-icon {
  text-shadow:  2px 2px 4px rgba(115, 115, 115, 0.7);
  font-size: 1.3em;
  // color: $fifth-color; /* Change la couleur, par exemple en bleu */
  // box-shadow: 0 1px 2px rgba(0,0,0,0.2);

}
