$main-color: #00cec9;
// $main-color-light: #EAFDFC;

$main-color-light: #def2f0;
$inactive-color: #D9D9D9;
$first-color: #55efc4;
$second-color: #74b9ff;
$third-color: #a29bfe;
$fourth-color: #fab1a0;
$fifth-color: #ffeaa7;
